<style>
    table, th, td {
        border: 1px solid black;
        border - collapse: collapse;
    }
</style>


<table>
    <tr>
        <th>Photo</th>
        <th>Student Details</th>
    </tr>
    <tr>
        <td rowspan="3"><img src="~/Images/Me.jpg" /></td>
        <td>Name: Xander </td>
    </tr>
    <tr>  
        <td>Surname: Steyn</td>
    </tr>
    <tr>
        <td>Student Number: u24742644</td>
    </tr>
</table>
<br />

<h3>Details</h3>
<br />
<div>
    <p>
        <h4>Product Controller Adapted:</h4>
    </p>
    <p>
        
        <ul>
            <li>
                I added a new action method called "GetCategoriesBySupplier" to the ProductController class.
            </li>
            <li>
                The action method functions the same as the GetProductByCategory action method.
            </li>
            <li>
                It retrieves category based on the selected supplier.
            </li>
            <li>
                It uses the supplier ID to get the categories.
            </li>
            <li>
                It returns the category name and ID where the supplier ID matches the selected supplier.
            </li>
            <li>
                I also added the supplier list to the view model.
            </li>
        </ul>
    </p>

    <p>
        <h4>Product, Index View Adapted:</h4>
    </p>
    <p>
        HTML page
        <ul>
            <li>
                I added the supplier dropdownbox.
            </li>
            <li>
                I disabled the category dropdownbox.
            </li>
            <li>
                I added the textboxes and the button to a column next to the dropdownboxes.
            </li>
            <li>
                I added a serial number textbox.
            </li>
            <li>
                I added supplier and serial number to the product table.
            </li>
        </ul>
        Textbox Input Script
        <ul>
            <li>
                I added restrictions to the serial textbox to only accept ten numbers.
            </li>
        </ul>
        Populate Dropdown Script
        <ul>
            <li>
                I added code to populate and display the category dropdown when a supplier is selected.
            </li>
            <li>
                I added code to disable and enable the serial textbox when there is a value in the product textbox.
            </li>
        </ul>
        Add Button Script
        <ul>
            <li>
                I added a serial number variable and added it to the if statement.
            </li>
            <li>
                The if statement now uses the serial number variable to check if the product name textbox is empty before adding a new row.
            </li>
            <li>
                I added supplier to the row that is added to the table.
            </li>
            <li>
                I added an id propperty to the product name in the table to uniquely identify the product.
            </li>
            <li>
                I added the serial number to the row that is added to the table.
            </li>
            <li>
                I added an id property to the serial number in the table to uniquely identify the serial number.
            </li>
            <li>
                After the row is added to the table, I clear the category textbox and focus on the supplier textbox.
            </li>
        </ul>
        Edit Button Script
        <ul>
            <li>
                I disabled the supplier dropdownbox and serial textbox when the edit button is clicked.
            </li>
            <li>
                I added code to find the product name and serial textbox in the table using the unique id's i assigned to them.
            </li>
            <li>
                I added restrictions to the edditing of the serial number textbox to only accept ten numbers.
            </li>
        </ul>
        Save Button Script
        <ul>
            <li>
                I added code to enable the supplier dropdownbox when the save button is clicked.
            </li>
        </ul>

    </p>

    <p>
        <h4>Models Adapted:</h4>
    </p>
    <p>
        Category Model
        <ul>
            <li>
                I added a new property called "SupplierID" to the Category model.
            </li>
            <li>
                This property is used to store the ID of the supplier associated with the category.
            </li>
        </ul>
        Product Model
        <ul>
            <li>
                I added a new property called "SupplierID" to the Product model.
            </li>
            <li>
                This property is used to store the ID of the supplier associated with the product.
            </li>
        </ul>
        ProductRepository
        <ul>
            <li>
                I added three new supplier properties to the ProductRepository class.
            </li>
            <li>
                I added four new categories to the ProductRepository class with the supplier ID attribute.
            </li>
            <li>
                I added five new products to the ProductRepository class with the supplier ID and the category ID attribute.
            </li>
            
        </ul>
        ProductViewModel
        <ul>
            <li>
                Added a new property called "SelectedSupplierID" to the ProductViewModel class.
            </li>
            <li>
                This property is used to store the ID of the selected supplier.
            </li>
            <li>
                Added a new property list called "Supplier" to the ProductViewModel class.
            </li>
            <li>
                This property is used to store the list of suppliers.
            </li>
        </ul>
    </p>

    <p>
        <h4>Create New Model:</h4>
    </p>
    <p>
        
        <ul>
            <li>
                I added a new model called "Supplier" to the project.
            </li>
            <li>
                This model represents a supplier and contains properties such as ID and Name.
            </li>
        </ul>
    </p>
</div>


